# To sign the release build, rename this file to keystore.properties and fill in your keystore values.
# You will also need to add these values to your gradle.properties or pass them via command line,
# or define them directly here and load this file in build.gradle if you update the gradle logic.
# Alternatively, you can put these directly into gradle.properties.
RELEASE_STORE_FILE=my-release-key.keystore
RELEASE_STORE_PASSWORD=password
RELEASE_KEY_ALIAS=my-key-alias
RELEASE_KEY_PASSWORD=password
